<style>
    nav { position: initial !important; }
    #container { padding: 50px; }
</style>

<div id="container">
    <div class="container">
        <div class="row my-3">
            <div class="col text-center">
                <h3>User Management</h3>
                <a class="btn btn-primary mb-4" href="@Url.Action("Index", "User")">Manage Users</a>
                <h3>Farm Management</h3>
                <a class="btn btn-primary" href="@Url.Action("Index", "Farm")">Manage Farms</a>
            </div>
        </div>
    </div>
</div>