@{
Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div id="login">
        <div id="box">
            <img src="/Images/AgrisysLogo.png">
            <div id="fields-container">
                <input id="username" type="text" placeholder="Indtast Brurgernavn">
                <input id="password" type="password" placeholder="Indtast Kodeord">
                <button type="submit" id="login-btn">Login</button>
            </div>
        </div>
</body>

</html>
