@{
    ViewData["Title"] = "Log";
}

<div class="text-center">
    <h1 class="display-4">Log</h1>
    <br>
    <input type="text" id="searchbox" placeholder="Search...">
    <table id="logtable" class="table table-bordered table-striped">
        <tr>
            <th>Tidspunkt</th>
            <th>Foo</th>
            <th>Bar</th>
            <th>Kommando</th>
        </tr>
        <tr>
            <td>21/11/2023 11:20:00</td>
            <td>Benjamin</td>
            <td>3 kg</td>
            <td>FODRING</td>
        </tr>
        <tr>
            <td>21/11/2023 11:21:13</td>
            <td>Christian</td>
            <td>5 kg</td>
            <td>FODRING</td>
        </tr>
        <tr>
            <td>21/11/2023 11:23:07</td>
            <td>Mikkel</td>
            <td>3 kg</td>
            <td>FODRING</td>
        </tr>
        <tr>
            <td>21/11/2023 11:24:58</td>
            <td>Stefan</td>
            <td>3 kg</td>
            <td>FODRING</td>
        </tr>
    </table>

    <script>
        let input = document.getElementById('searchbox');
        let table = document.getElementById('logtable');
        let rows = table.getElementsByTagName('tr');

        input.addEventListener('keyup', function() {
            let filter = input.value.toLowerCase();

            for (let i = 1; i < rows.length; i++) {
                let row = rows[i];
                let rowData = row.getElementsByTagName('td');

                let display = false;
                for (let j = 0; j < rowData.length; j++) {
                    let cell = rowData[j];
                    if (cell && cell.innerHTML.toLowerCase().indexOf(filter) > -1) {
                        display = true;
                        break;
                    }
                }

                if (display) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            }
        });
    </script>
</div>
