@{
    ViewData["Title"] = "Log";
}

<div class="text-center">
    <h1 class="display-4">Log</h1>
    <br>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Tidspunkt</th>
            <th>Foo</th>
            <th>Bar</th>
            <th>Kommando</th>
        </tr>
        <tr>
            <td>21/11/2023 11:20:00</td>
            <td>Benjamin</td>
            <td>3 kg</td>
            <td>FODRING</td>
        </tr>
        <tr>
            <td>21/11/2023 11:21:13</td>
            <td>Christian</td>
            <td>5 kg</td>
            <td>FODRING</td>
        </tr>
        <tr>
            <td>21/11/2023 11:23:07</td>
            <td>Mikkel</td>
            <td>3 kg</td>
            <td>FODRING</td>
        </tr>
        <tr>
            <td>21/11/2023 11:24:58</td>
            <td>Stefan</td>
            <td>3 kg</td>
            <td>FODRING</td>
        </tr>
    </table>
</div>
