@{
Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Overview</title>
    <link rel="stylesheet" href="/css/overview.css" />
</head>

<body>
    <nav>
        <ul>
            <a asp-action="Index">
                <img src="svg/navbar/edit.svg" />
            </a>
            <img src="svg/navbar/bar.svg" />

            <a asp-action="Index">
                <img src="svg/navbar/target.svg" />
            </a>
            <img src="svg/navbar/bar.svg" />

            <a asp-action="Index">
                <img src="svg/navbar/admin.svg" />
            </a>
            <img src="svg/navbar/bar.svg" />

            <a asp-action="Index">
                <img src="svg/navbar/language.svg" />
            </a>
            <img src="svg/navbar/bar.svg" />

            <a asp-action="Index">
                <img src="svg/navbar/log.svg" />
            </a>

            <a asp-action="Index" style="float: right;">
                <img src="svg/navbar/logout.svg" />
            </a>
        </ul>
    </nav>
    <div>
        <img class="awaiting" src="svg/hopper.svg" alt="a hopper" width="100">
        <label for="test" style="position: absolute; top: 100px; left: 17px; background-color: white; z-index: 1;">Text
            here</label>
    </div>
    <div>
        <img class="in-progress" src="svg/hopper.svg" alt="a hopper" width="100">
        <label for="test" style="position: absolute; top: 200px; left: 17px; background-color: white; z-index: 1;">Text
            here</label>
    </div>
    <div>
        <img class="complete" src="svg/silo.svg" alt="a silo" width="75">
        <label for="test" style="position: absolute; top: 350px; left: 5px; background-color: white; z-index: 1;">Text
            here</label>
    </div>
    <div class="logbackground" />
</body>

</html>
