@{
Layout = "_Base";
}

<nav>
    <ul>
        <a asp-action="Index" asp-controller="Home">
            <img src="/svg/navbar/home.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a asp-action="Index" asp-controller="Edit" class="active">
            <img src="/svg/navbar/edit.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a asp-action="Index" asp-controller="Target">
            <img src="/svg/navbar/target.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a asp-action="Index" asp-controller="Admin">
            <img src="/svg/navbar/admin.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a asp-action="Index" asp-controller="Language">
            <img src="/svg/navbar/language.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a asp-action="Index" asp-controller="Logging">
            <img src="/svg/navbar/log.svg" />
        </a>

        <a asp-action="Index" asp-controller="Login" style="float: right;">
            <img src="/svg/navbar/logout.svg" />
        </a>
    </ul>
</nav>
