@{
Layout = "_Base";
}

<nav>
    <ul>
        <a href="/" >
            <img src="/svg/navbar/home.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a href="/Edit/" class="active">
            <img src="/svg/navbar/edit.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a href="/Target/">
            <img src="/svg/navbar/target.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a href="/Admin/">
            <img src="/svg/navbar/admin.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a href="/Language/">
            <img src="/svg/navbar/language.svg" />
        </a>
        <img src="/svg/navbar/bar.svg" />

        <a href="/Log/">
            <img src="/svg/navbar/log.svg" />
        </a>

        <a href="/Login/" style="float: right;">
            <img src="/svg/navbar/logout.svg" />
        </a>
    </ul>
</nav>
