:root {
    --darkblue: #054A91;
    --blue: #3E7CB1;
    --lightblue: #81A4CD;
    --offwhite: #E7ECEF;
    --orange: #F17300;
}
        
/* Nav topbar */
nav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--darkblue);
    filter: drop-shadow(0px 2px 10px #444444);
    z-index: 2;
}

nav ul {
    padding: 5px 5px;
    margin: 0;
}

nav a {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: var(--lightblue);
    border-radius: 15px;
    padding: 5px 5px;
    color: var(--offwhite);
    transition: 0.3s;
}

nav a:hover {
    background-color: var(--offwhite);
}

.active {
    background-color: var(--orange);
    opacity: 0.9;
}

/* Containers */
body {
    background-color: var(--offwhite);
    margin: 0;
    font-family: Arial, sans-serif;
}

#system {
    border-color: green;
    display: flex;
    flex-direction: row;
}

#svgs {
    flex: 2;
    border-color: blue;
    margin-top: 2vw;
    margin-left: 2vw;
}

.system-text {
    font-family: "lato";
    font-size: 1.5vw; /* 1.5% of viewport height */
    background-color: white;
    border-style: solid;
    border-width: thin;
    margin-bottom: 1vw;
    padding: 3px;
    border-radius: 3px;
}

.system-field {
    font-family: "lato";
    font-size: 1.5vw; /* 1.5% of viewport height */
    background-color: grey;
    border-style: solid;
    border-width: thin;
    padding: 3px;
    border-radius: 3px;
    min-width: 2.5vw;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    border-color: purple;
    max-width: 5vw;
    position: relative;
}

.machine-container {
    display: flex;
    flex-direction: column;
    border-color: red;
    position: absolute;
}

/* Silo */
#silo .machine-container {
    width: 10vw;
    height: 16vw;
}

#silo .text-container {
    left: 1.8vw;
    top: 1vw;
}

#siloimg{
    position: absolute;
    top: -1.75vw;
    max-width: 90%;
    filter: invert(76%) sepia(57%) saturate(1527%) hue-rotate(54deg) brightness(86%) contrast(96%);
    opacity: 0.8;
    z-index: 1;
}

#silopipe {
    position: relative;
    max-width: 30%;
    top: 11.7vw;
    left: 8.2vw;
}

/* Mixer */
#mixer .machine-container {
    width: 10vw;
    height: 7.4vw;
    top: 27vw;
    left: 23.5vw;
}

#mixer .text-container {
    left: 1.9vw;
    top: 0.4vw;
}

#mixerimg {
    position: absolute;
    max-width: 90%;
    filter: invert(91%) sepia(93%) saturate(2399%) hue-rotate(322deg) brightness(104%) contrast(95%);
    opacity: 0.8;
}

#hatch {
    position: absolute;
    max-width: 100%;
    top: 6vw;
    left: 0.5vw;
}

/* Distributor */
#distributor .machine-container {
    width: 10vw;
    height: 7.4vw;
    top: 36.5vw;
    left: 23.5vw;
}

#distributor .text-container {
    left: 1.8vw;
    top: 0.2vw;
}

#distributorimg {
    position: absolute;
    max-width: 90%;
    filter: invert(27%) sepia(82%) saturate(1666%) hue-rotate(344deg) brightness(98%) contrast(89%);
    opacity: 0.8;
}

#hatch2 {
    position: absolute;
    max-width: 100%;
    top: 6vw;
    left: 0.7vw;
}

/* Pressure */
#pressure .machine-container {
    width: 12vw;
    height: 5vw;
    top: 39.2vw;
    left: 11.3vw;
}

#pressure .text-container {
    left: 3vw;
    top: -0.3vw;
}

#pressureimg {
    position: absolute;
    max-width: 100%;
    transform: scale(1.3);
}

/* Fan */
#fan .machine-container {
    width: 12vw;
    height: 5vw;
    top: 40.7vw;
    left: 2vw;
}

#fan .text-container {
    left: 1.5vw;
    top: 1vw;
}

#fanimg {
    position: absolute;
    max-width: 70%;
}

#fanpipe {
    position: absolute;
    max-width: 30%;
    top: 33.3vw;
    left: 9.5vw;
}

/* Target */
#target .machine-container {
    width: 20vw;
    height: 10vw;
    top: 38.5vw;
    left: 38.4vw;
}

#target .text-container {
    left: 6vw;
    top: -9vw;
}

#targetimg {
    position: absolute;
    max-width: 100%;
}

/* Log */
#logbackground {
    border-top-style: solid;
    border-color: var(--blue);
    border-width: thin;
    min-height: 45vw;
    flex: 1;
    background-color: #DBE4EE;
    float: right;
    filter: drop-shadow(15px 15px 25px #444444);
}

#logbackground li {
    list-style: none;
    font-family: monospace;
}

/* Login */
#login {
    min-height: 49vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#login #box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    border-style: solid;
    border-width: thin;
    border-color: #d4d4d4;
    width: 60vw;
    height: 30vw;
    background-color: #eeeeee;
    border-radius: 2vw;
}

#login img {
    max-width: 15vw;
    max-height: 10vw;
}

#login #fields-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 15vw;
}

#fields-container #username,
#fields-container #password,
#fields-container #login-btn {
    border-style: solid;
    border-width: medium;
    border-color: white;
    width: 90%;
    height: 2vw;
    border-radius: 3vw;
    text-align: center;
    color: white;
    font-weight: 900;
    transition: 0.5s ease-in-out;
}

#fields-container #username:hover,
#fields-container #login-btn:hover,
#fields-container #password:hover   {
    border-color: #4663ac;
    color: #4663ac;
} 

#fields-container #username:focus,
#fields-container #login-btn:focus,
#fields-container #password:focus   {
    border-color: var(--orange);
    color: var(--orange);
    outline: none;
} 


::placeholder {
    color: white;
}

:input:focus::placeholder {
    color: var(--orange);
}

#fields-container #password,
#fields-container #username {
    background-color: #c8d9ed;   
}

#fields-container #login-btn {
    background-color: lightblue;
    min-height: 2.5vw;
}
